.mainDiv{
    width: 100%;
    margin: 0;
    position: relative;
}

.container{
    position: relative;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.cardContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px 30px 50px !important;
}