.homeBackDiv{
    background-repeat: no-repeat;
    width: calc(100% - 6px);
    position: fixed;
}

.homeWelcText{
    position: absolute;
    top: 150px;
    color: #242745;
    margin-left: 5%;
    text-align: left;
}

.servicesDiv{
    height: 880px;
    background-color: white;
    position: absolute;
    top: 600px;
    width: 100%;
}

.getStartBtn:hover{
    color: rgb(255, 255, 255) !important;
    background-color: #0288d1 !important;
}

.h1{
    font-family: Verdana;
    overflow: hidden;
    transition: all ease-in 1s;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
}

.animH1{
    width: 100% !important;
}

.doDivs{
    padding: 10%;
    height: 95%;
    border-radius: 10px;
    box-shadow: 3px 6px 24px 1px gray;
    transition: transform 0.5s ease;
}

.doDivs:hover{
    transform: scale(1.05);
    
}

.doDivsimgDiv{
    width:80%;
    height:100px;
}

.doDivP{
    color: red;
    font-family: Georgia;
    font-size: larger;
    text-decoration: none;
}