.homeBackDiv{
    
    background-repeat: no-repeat;
    width: calc(100% - 6px);
    position: fixed;
}

.homeDarkDiv{
    background-color: black;
    opacity: 0.5;
    height: 600px;
    width: calc(100% - 6px);
    position: fixed;
}

.homeWelcText{
    position: absolute;
    top: 420px;
    color: white;
    margin-left: 10%;
    text-align: center;
}

.servicesDiv{
    height: 880px;
    background-color: white;
    position: absolute;
    top: 600px;
    width: 100%;
}

.getStartBtn{
    color: white !important;
    border: 1px solid white !important;
}

.getStartBtn:hover{
    color: rgb(192, 192, 192) !important;
    border: 1px solid rgb(192, 192, 192) !important;
}